h1,h2{
    text-align: center;
}

.ejemplo1{
    background-color: cadetblue;
    height: 75px;
    padding: 20px 20px;
}

.ejemplo1__caja{
    width: 75px;
    height: 75px;
    position: relative; /*importante*/
    left:0;
    background-color: chartreuse;
    animation-name: ejemplo1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
}

@keyframes ejemplo1{
    /*from*/ 0%{
    left:0;
    }

    50%{
        background-color: rgb(184, 89, 11);
    }

    /*to */ 100%{
    left:94%;
    background-color: crimson;
    }
}