/* .header-containter{
    background-color: lightgray;
    width: 100vw;
    height: 110px;
    border: 5px groove rgb(44, 15, 15);
    display: flex;
    overflow: hidden;

}

.header-datos{
    font-family: 'Gothic A1', sans-serif;
    flex-grow: 1;
    border-right: 5px groove black;
    text-align: center;
    align-self: center;
    padding:27px; /*Solucion al separador pero no es correcto.
    overflow: hidden;
    position:relative;
}

.datos-fondogris{
    width: 600px;
    height: 18px;
    background-color: gray;
    position: absolute;
    margin-top: 60px;
    margin-left: 60px;
}

.header-logo{
    flex-grow: 5;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    align-self:center;
    margin-right: 120px;
    position: relative;
    text-align: right;
}

.logo-img{
    position: absolute;
}
.logo-img img{
    margin-top: -100px;
    padding-left: 0px;
    height: 250px;
}

 */

/*----------DISEÑO FLEX----------*/

/*
*{
    padding: 0;
    margin:0;
    font-size: 22px;
    color: white;
}

.flex-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header, .body, .side, .footer{
    padding: 10px;
}

.header{
    background-color: rgb(87,24,69);
    flex-basis: 60px;
}

.body{
    background-color: rgb(144,12,62);
    flex-grow: 2;
    flex-basis: 300px;
    flex-shrink: 0;
}

.side{
    background-color: rgb(199,0,57);
    flex-grow: 1;
    flex-basis: 150px;
    flex-shrink: 0;
}
 
.footer{
    background-color: rgb(255,87,51);
    flex-basis: 60px;
    flex-shrink: 0;
}


@media screen and (min-width:768px)
{
    .flex-container{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .body ,.side{
        height: 530px;
    }

    .body{
        flex-grow: 4;
    }
    .side{
        grid-row: 1;
    }

    .header{
        flex-basis: 100%; /*Hace que ocupe todo el ancho
        max-height: 60px;
    }

    .footer{
        flex-basis: 100%;
        max-height: 50px;
        flex-shrink: 1;
    }
}  */



*{
    padding: 0;
    margin:0;
    font-size: 22px;
    color: white;
}

.flex-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,10% 80% 10%);
    height: 100vh;
    background-color: gray;
    grid-template-areas: 
    "header header header header"
    "body body body side"
    "footer footer footer footer";

}

.header{
    background-color: rgb(87,24,69);
    grid-area: header;
}   

.body{
    background-color: rgb(144,12,62);
    grid-area: body;
}

.side{
    background-color: rgb(199,0,57);
    grid-area: side;
}

.footer{
    background-color: rgb(255,87,51);
    grid-area: footer;
}


@media screen and (max-width:750px){
    *{
        font-size: 40px;
    }

    .flex-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(1,10% 60% 20% 10%);
        height: 100vh;
        background-color: gray;
        grid-template-areas: 
        "header header header header"
        "body body body body"
        "side side side side"
        "footer footer footer footer";
    
    }

    .header{
        background-color: rgb(87,24,69);
        /* grid-area: header; */
        grid-row: 1/2;
    }   
    
    .body{
        background-color: rgb(144,12,62);
        /* grid-area: body; */
        grid-row: 2/3;
    }
    
    .side{
        background-color: rgb(199,0,57);
        /* grid-area: side; */
        grid-row: 3/4;
    }
    
    .footer{
        background-color: rgb(255,87,51);
        /* grid-area: footer; */
        grid-row: 4/5;
    }
    
}